<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>


    <!-- 情報用ファイル出力設定 -->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ファイル出力場所&ファイルプレフィクス -->
      <param name="File" value="${APPDATA}\\Cat\Logs\\Info_" />
      <!-- ファイル名の日付表現形式 -->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!-- ログの出力単位 -->
      <param name="RollingStyle" value="date" />
      <!-- 出力先を静的にするか -->
      <param name="StaticLogFileName" value="false" />
      <!-- ログを追記するかどうか -->
      <param name="AppendToFile" value="true" />
      <!-- ログの出力範囲(対象エラーレベル) -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="WARN" />
        <param name="LevelMin" value="INFO" />
      </filter>

      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] [%-5level] %file(%line) %class %method - %message%n" />
      </layout>
    </appender>

    <!-- エラー情報ファイル出力設定 -->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ファイル出力場所&ファイルプレフィクス -->
      <param name="File" value="${APPDATA}\\Cat\\Logs\\Error_" />
      <!-- ファイル名の日付表現形式 -->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!-- ログの出力単位 -->
      <param name="RollingStyle" value="date" />
      <!-- 出力先を静的にするか -->
      <param name="StaticLogFileName" value="false" />
      <!-- ログを追記するかどうか -->
      <param name="AppendToFile" value="true" />
      <!-- ログの出力範囲(対象エラーレベル) -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="FATAL" />
        <param name="LevelMin" value="ERROR" />
      </filter>

      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] [%-5level] %file(%line) %class %method - %message%n" />
      </layout>
    </appender>

    <root>
      <!-- INFO以上のログを記録(FATAL・ERROR・WARN・INFO) -->
      <level value="INFO" />
      <!-- 使用する Appender -->
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ErrorAppender" />
    </root>

  </log4net>
</configuration>